* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: rgb(210, 210, 210) !important;
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-details {
  flex-basis: 40%;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3),
              -2px -2px 5px rgba(255,255,255,0.5);
}

h3 {
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 20px;
}

img {
  clip-path: circle(40%);
}

p {
  margin-bottom: 10px;
}

p.character-hw {
  margin-bottom: 20px;
}

.character-details a {
  text-decoration: none;
  color: blue;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
  color: black !important;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3),
              -2px -2px 5px rgba(255,255,255,0.5);
  transition: 0.3s;
}

.btn-clicked {
  animation: animateBtn .3s ease-in-out 0s 1;
}

@keyframes animateBtn {
  0%{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3),
                -2px -2px 5px rgba(255,255,255,0.5);
  }
  50% {
    box-shadow: 2px 2px 5px inset rgba(0,0,0,0.3),
                -2px -2px 5px inset rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3),
                -2px -2px 5px rgba(255,255,255,0.5);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .character-details {
    flex-basis: 70%;
  } 
}

@media (min-width: 320px) and (max-width: 575px) {
  .character-details {
    flex-basis: 90%;
  } 
}